p {
  color: #ffffff;
  font-size: 10px;
}
li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1e293b;
  margin-right: 40px;
  height: 500px;
  width: 300px;
}

.imager {
  width: 200px;
  height: 200px;
}

.won-title {
  color: #18ed66;
}
.lost-title {
  color: #e31a1a;
}
.bref-para {
  font-family: 'Bree Serif';
  font-size: 30px;
}
