.team-card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.team-img {
  width: 50px;
  margin-right: 10px;
  margin-left: 10px;
}
li {
  border: 1px solid #ffffff;
  margin-right: 30px;
  margin-bottom: 20px;
  width: 550px;
  height: 100px;
}

.hd-er {
  text-decoration: none;
}
